In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('data_folder/suicide rate per country.csv')
data.corr()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
year,1.000000,-0.004546,0.008850,-0.039037,0.366786,0.339134
suicides_no,-0.004546,1.000000,0.616162,0.306604,0.151399,0.061330
population,0.008850,0.616162,1.000000,0.008285,0.102943,0.081510
suicides/100k pop,-0.039037,0.306604,0.008285,1.000000,0.074279,0.001785
HDI for year,0.366786,0.151399,0.102943,0.074279,1.000000,0.771228
gdp_per_capita ($),0.339134,0.061330,0.081510,0.001785,0.771228,1.000000

In [3]:

data.dropna(inplace=True)
data.sort_values('HDI for year')

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
10756,Guatemala,1990,male,55-74 years,9,311351,2.89,Guatemala1990,0.483,"7,650,125,217",996,G.I. Generation
10762,Guatemala,1990,male,5-14 years,2,1354763,0.15,Guatemala1990,0.483,"7,650,125,217",996,Generation X
10761,Guatemala,1990,female,5-14 years,2,1312953,0.15,Guatemala1990,0.483,"7,650,125,217",996,Generation X
10760,Guatemala,1990,female,55-74 years,1,322429,0.31,Guatemala1990,0.483,"7,650,125,217",996,G.I. Generation
10759,Guatemala,1990,female,25-34 years,6,603010,1.00,Guatemala1990,0.483,"7,650,125,217",996,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
18213,Norway,2014,female,75+ years,7,214335,3.27,Norway2014,0.944,"499,338,534,779",103443,Silent
18214,Norway,2014,male,5-14 years,2,317878,0.63,Norway2014,0.944,"499,338,534,779",103443,Generation Z
18215,Norway,2014,female,5-14 years,1,303487,0.33,Norway2014,0.944,"499,338,534,779",103443,Generation Z
18209,Norway,2014,female,55-74 years,51,533630,9.56,Norway2014,0.944,"499,338,534,779",103443,Boomers
18205,Norway,2014,male,55-74 years,110,532578,20.65,Norway2014,0.944,"499,338,534,779",103443,Boomers

In [4]:
data['Godina'] = data['country-year'].str[-4:]
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,Godina
72,Albania,1995,male,25-34 years,13,232900,5.58,Albania1995,0.619,"2,424,499,009",835,Generation X,1995
73,Albania,1995,male,55-74 years,9,178000,5.06,Albania1995,0.619,"2,424,499,009",835,Silent,1995
74,Albania,1995,female,75+ years,2,40800,4.90,Albania1995,0.619,"2,424,499,009",835,G.I. Generation,1995
75,Albania,1995,female,15-24 years,13,283500,4.59,Albania1995,0.619,"2,424,499,009",835,Generation X,1995
76,Albania,1995,male,15-24 years,11,241200,4.56,Albania1995,0.619,"2,424,499,009",835,Generation X,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X,2014
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent,2014
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,2014
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,2014
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers,2014

In [5]:
data.loc[data['country'] == 'Albania','population'].sum()

11219045

In [6]:
def parnost(x):
    if x % 2 == 0:
        print(f'broj {x} je paran')
    else:
        print(f'broj {x} je neparan')

In [7]:
parnost(2)
parnost(3)

broj 2 je paran
broj 3 je neparan

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8364 entries, 72 to 27819
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             8364 non-null   object
 1   year                8364 non-null   int64
 2   sex                 8364 non-null   object
 3   age                 8364 non-null   object
 4   suicides_no         8364 non-null   int64
 5   population          8364 non-null   int64
 6   suicides/100k pop   8364 non-null   float64
 7   country-year        8364 non-null   object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   8364 non-null   object
 10  gdp_per_capita ($)  8364 non-null   int64
 11  generation          8364 non-null   object
 12  Godina              8364 non-null   object
dtypes: float64(2), int64(4), object(7)
memory usage: 914.8+ KB

In [9]:
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,Godina
72,Albania,1995,male,25-34 years,13,232900,5.58,Albania1995,0.619,"2,424,499,009",835,Generation X,1995
73,Albania,1995,male,55-74 years,9,178000,5.06,Albania1995,0.619,"2,424,499,009",835,Silent,1995
74,Albania,1995,female,75+ years,2,40800,4.90,Albania1995,0.619,"2,424,499,009",835,G.I. Generation,1995
75,Albania,1995,female,15-24 years,13,283500,4.59,Albania1995,0.619,"2,424,499,009",835,Generation X,1995
76,Albania,1995,male,15-24 years,11,241200,4.56,Albania1995,0.619,"2,424,499,009",835,Generation X,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X,2014
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent,2014
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,2014
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,2014
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers,2014

In [10]:
data.loc[72]

country                     Albania
year                           1995
sex                            male
age                     25-34 years
suicides_no                      13
population                   232900
suicides/100k pop              5.58
country-year            Albania1995
HDI for year                  0.619
 gdp_for_year ($)     2,424,499,009
gdp_per_capita ($)              835
generation             Generation X
Godina                         1995
Name: 72, dtype: object

In [50]:
data.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation', 'Godina'],
      dtype='object')

In [57]:
data.select_dtypes(object)

,zemlja,sex,age,country-year,gdp_for_year ($),generation,Godina
72,Albania,male,25-34 years,Albania1995,"2,424,499,009",Generation X,1995
73,Albania,male,55-74 years,Albania1995,"2,424,499,009",Silent,1995
74,Albania,female,75+ years,Albania1995,"2,424,499,009",G.I. Generation,1995
75,Albania,female,15-24 years,Albania1995,"2,424,499,009",Generation X,1995
76,Albania,male,15-24 years,Albania1995,"2,424,499,009",Generation X,1995
...,...,...,...,...,...,...,...
27815,Uzbekistan,female,35-54 years,Uzbekistan2014,"63,067,077,179",Generation X,2014
27816,Uzbekistan,female,75+ years,Uzbekistan2014,"63,067,077,179",Silent,2014
27817,Uzbekistan,male,5-14 years,Uzbekistan2014,"63,067,077,179",Generation Z,2014
27818,Uzbekistan,female,5-14 years,Uzbekistan2014,"63,067,077,179",Generation Z,2014
27819,Uzbekistan,female,55-74 years,Uzbekistan2014,"63,067,077,179",Boomers,2014

In [56]:
data.rename(columns={'country':'zemlja'}, inplace=True)

In [14]:
data[' gdp_for_year ($) ']

72        2,424,499,009
73        2,424,499,009
74        2,424,499,009
75        2,424,499,009
76        2,424,499,009
              ...
27815    63,067,077,179
27816    63,067,077,179
27817    63,067,077,179
27818    63,067,077,179
27819    63,067,077,179
Name:  gdp_for_year ($) , Length: 8364, dtype: object

In [27]:
a = (1,2,3,4)
sum(a)

10

In [31]:
b = [1,2,3,24,22,1,1,23,4,2,2,1,3,5,7,2]
set(b)
print(f'zbir brojeva u listi b je {sum(b)}, a jedinstvene vrednosti su {list(set(b))}')

zbir brojeva u listi b je 103, a jedinstvene vrednosti su [1, 2, 3, 4, 5, 7, 22, 23, 24]

In [33]:
sortiran = sorted(b)
sortiran[::-1]

[24, 23, 22, 7, 5, 4, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1]

In [38]:
c = ['kosta', 1, 2, 5, 'ivona', 25]

In [45]:
[item for item in c if isinstance(item,int)]

[1, 2, 5, 25]

In [48]:
data.isnull().sum()

country               0
year                  0
sex                   0
age                   0
suicides_no           0
population            0
suicides/100k pop     0
country-year          0
HDI for year          0
 gdp_for_year ($)     0
gdp_per_capita ($)    0
generation            0
Godina                0
dtype: int64